.main{
    display: flex;
    gap: 30px;
}


.PlayerbannerContainer{
    display: flex;
    max-width: 100%;
    padding: 13px 25px;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;

    border-radius: 9px;
    border: 1px solid #5D5C62;
    background: rgba(65, 63, 70, 0.20);


}
.PlayerbannerContainer:hover{
    border: 1px solid #8F37F7;
}

.playerName{

    font-family: var(--font-manrope);

    font-size: 16px;
    font-style: normal;
    font-weight: 800;
    line-height: 25px; /* 156.25% */
    letter-spacing: -0.1px;
}

.roleWrapper{
    display: flex;
    gap: 10px;
    align-items: center;

    flex-wrap: wrap;
}

.RoleContainer{
    border-radius: 999999px;
    background: #19181B;

    display: inline-flex;
    align-items: center;
    gap:10px;

    font-family: var(--font-inter);
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 21px; /* 175% */

    padding: 8px 15px;
}

.dot {
    height: 7px;
    width: 7px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

.BannerTop{
    display: flex;
    gap:12px;

}

.lastOnline{
    font-family: var(--font-inter);
    font-size: 12px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: -0.1px;
}