.main{
    height: 100vh;
    overflow: hidden;
}
.frame{
    border: 0;

    width: 100%;
    height: 100%;
}

@media screen and (max-width: 1600px) {
    .frame {
        margin-top: var(--nav-height);
        height: calc(100% - var(--nav-height));
    }
}


@media screen and (max-width: 800px) {
    .frame {
        margin-top: var(--nav-mobile-height);
        height: calc(100% - var(--nav-mobile-height));
    }
}