.top{
    height: 50px;
}

.opened{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #19181B;
    z-index: 10;

    display: flex;
    flex-direction: column;
    gap:10px;

    font-weight: 400;
    color: #FFF;
    font-size: 12px;
}

.button{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    background: rgba(65, 63, 69, 0.20);
    border: 1px solid #5D5C62;
    border-radius: 25px;   
}

.button:hover{
    background: rgba(98, 53, 187, 0.89);
}
.button:active{
    background: rgb(107, 37, 247);
}