:root {
  --max-width: 1100px;


  font-size: 20px;
}

@media (prefers-color-scheme: dark) {
  :root {


  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body,
#root {
  max-width: 100%;

}

body {

  --background-color: #19181B;
  --main-font-color: #EBEBEB;
  

  background: var(--background-color);
  color: var(--main-font-color);

  margin: auto;
  font-size: 1rem;

  --nav-height: 3rem;
 

  --primary-purpule: #8F37F7;
  --primary-text: #EBEBEB;  
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
