.layout{
    margin: 0;
    position: absolute;

    background:
        /* top, transparent black, faked with gradient */
            linear-gradient(
                    rgba(0, 0, 0, 0.65),
                    rgba(0, 0, 0, 0.65)
            ),
                /* bottom, image */
            url("/megumin.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    height: 100vh;
    width: 100vw;

    overflow: auto;
}


.main{
    width: 100vw;
    height: 100vh;
}

.grid{
    display: grid;
    grid-template-columns: repeat(3, 33.333333%);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    height: 100%;
}

.gridChildren {
    padding: 50px 70px;
    width: 100%;
    height: 100%;
    display: flex;

    justify-content: center;

    flex-wrap: wrap;

    gap: 30px;
}

.coolbutton{
    width: 200px;
    height: 200px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background-color: rgba(255, 255, 255, 0.82);
    border-radius: 40px;
    color: black;
    font-family: var(--font-manrope);
    font-weight: 700;
    font-size: 32px;

    transition: box-shadow ease-in 0.2s;
}

.coolbutton:hover{
    -webkit-box-shadow: 0px 7px 30px 2px rgb(78, 24, 241);
    -moz-box-shadow: 0px 7px 30px 2px rgb(78, 24, 241);
    box-shadow: 0px 7px 30px 2px rgb(78, 24, 241);
}

.icon{
    width: 100px;
    height: 100px;
}

.arrowIcon{
    width: 30px;
    height: 30px;
}

.violet{
    color: hsla(251, 99.6%, 32.5%, 0.691);
}

.blue{
    color: hsla(190, 99.8%, 37.8%, 0.981);
}



.Button {
    margin: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    padding: 0 15px;
    padding-right: 23px;
    font-size: 25px;
    line-height: 1;
    height: 50px;
    color: hsla(251, 99.6%, 32.5%, 0.691);

    font-weight: 700;

    background-color: white;
}

@media screen and (max-width: 1200px){
    .grid{
        all:unset;

    }
    .gridChildren{
        width: 100%;
        height: 100%;

    }
    .Button {
        width: 100px;
        height: 100px;
    }
    .icon{
        width: 50px;
        height: 50px;
    }
}