.main{
    margin-top: var(--nav-height);
    min-height: 700px;
    height: calc(100vh - var(--nav-height));
}
@media screen and (max-width: 800px) {
    .main{
        margin-top: var(--nav-mobile-height);
        height: calc(100vh - var(--nav-mobile-height));
    }
}
.section{
    width: 100%;
    height: 100%;

    font-family: var(--font-inter);
    
    margin: auto;
    padding: 60px 30px;
}
.BigAuthorize{
    width: 100%;
    margin: auto;
    margin-bottom: 35px;
}
.container{
    width: 507px;
    margin: auto;
    background-color: rgb(65, 63, 70, 0.2);
    padding: 25px;
    border: 1px solid rgba(82, 82, 91, 0.3);
    border-radius: 8px;
}

.hr{
    margin: 15px 0;
    border: 1px solid rgb(255, 255, 255, 0.1); 
}
.step{
    font-weight: 500;
    font-size: 14px;
}
.stepHeader{
    font-weight: 700;
    font-size: 20px;

    font-family: var(--font-manrope);
}
.stepOff{
    font-weight: 700;
    font-size: 20px;
    color: rgba(235, 235, 235, 0.5);

    font-family: var(--font-manrope);
}
.stepContent{
    padding: 15px 0;
    font-weight: 500;
    font-size: 12px;
}

.k1DsUrl{
    width: 100%;
    padding: 15px 12px;
    background: #413F46;
    border: 1px solid #5D5C62;
    border-radius: 9px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.k1DsUrl:hover {
	background: #40186e;
}
.k1DsUrl:active {
	position:relative;
	top:1px;
}
.k1left{
    display: flex;
}
.k1LinkText{
    padding: 0 10px;
    
    margin: auto;
}
.k1DStopText{
    font-weight: 500;
    font-size: 10px;
}
.k1DSbottomText{
    font-weight: 800;
    font-size: 16px;

    font-family: var(--font-manrope);
}
.DSserverLogo{
    width: 64px;
    height: auto;
    border-radius: 9px;
}
.k1right{
    display: flex;
    align-items: center;
}
.ChainIcon{
    width: 24px;
    height: auto;
}

.stepContent{
    padding: 15px 0;
    font-weight: 500;
    font-size: 14px;
}
.formTextBox{
    display: block;
    font-size: 20px;
    padding: 10px 15px;
    background: #413F46;
    border: 1px solid #5D5C62;
    width: 300px;
    border-radius: 50px;
    color: var(--primary-text);
}
.formButton{
    display: block;
    margin-top: 20px;
    margin-left: auto; 
    margin-right: 0;

    color: var(--primary-text);
    background-color:var(--primary-purpule);
	border-radius:28px;
	border:1px solid var(--primary-purpule);
	cursor:pointer;
	font-size: 18px;
	padding:12px 24px;
	text-decoration:none;
}
.formButton:hover {
	background-color: #5a2596;
}
.formButton:active {
	position:relative;
	top:1px;
}

.formbuttondissabled{
    display: block;
    margin-top: 20px;
    margin-left: auto; 
    margin-right: 0;

    

    color: var(--primary-text);
    color:#252525;
	border-radius:28px;
	border:1px solid var(--primary-purpule);
	cursor: default;
	font-size: 18px;
	padding:12px 24px;
	text-decoration:none;
    background-color: #413F46;
    border:1px solid #626068;
}


.AvatarIcon{
    width: 64px;
    height: auto;
    border-radius: 9px;
}

.formsmalltext{
    padding: 10px 0;
}
.PlayerBanner{
    font-weight: 600;
    font-size: 16px;
    display: flex;
    align-content:center;
    align-items:center;
}
.k3Banner{
    margin: 10px 0;
}
.bannerText{
    margin-left: 10px;
}
.bannerContainer{
    display: flex;
    justify-content: space-between;
}
.bannerRight{
    display: flex;
    align-items:center;
}
.Avalibility:hover{
    background-color: #39393b;
    border-radius: 4px;
}
.k3money{
    font-weight: 700;
    font-family: var(--font-manrope);
font-size: 40px;
}
.k3stepText{
    padding-top: 15px;
}
.k3startext{
    padding-top: 10px;
    font-weight: 400;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.8);
}
.PaybuttonContainer{
    width: 100%;
    margin-top: 20px;
}
.PayButton{
    display: block;

    max-width: 160px;
    margin-right: 0;
    margin-left: auto;

    color: var(--primary-text);
    background-color:var(--primary-purpule);
	border-radius:28px;
	border:1px solid var(--primary-purpule);
	cursor:pointer;
	font-size: 18px;
	padding:12px 24px;
	text-decoration:none;
}
.PayButton:hover {
	background-color: #5a2596;
}
.PayButton:active {
	position:relative;
	top:1px;
}
.PayButtonInside{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.buttonPayicon{
    margin-right: 5px;
}
.idtext{
    font-weight: 500;
font-size: 14px;
}
@media screen and (max-width: 557px) {
    .container{

        width: 100%;
        border-radius: 0;
    }
    .section{
        padding: 0;
        width: 100%;
        
    }
}