

.nav{
	z-index: 1;
	padding: 1rem 0;
    font-weight: 600;
	font-size: 16px;
	position: fixed;
    height: var(--nav-height);
    width: 100%;
    margin: auto;

	display: flex;
	justify-content:center;
	align-self: center;

	transition: background-color 0.2s, backdrop-filter 0.5s;
}
@media screen and (max-width: 800px) {
    .nav{
		display: none;
	}
}


.navIsSticky{
	backdrop-filter: blur(30px);
	background-color: rgba(25, 24, 27, 0.5);
}


.navWrapper{
	max-width: 1300px;
	width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
	
    height: 100%;

}

.right{
    display: flex;
    align-items: center;
}

.selectedButton {
	color:#8F37F7;
	display:inline-block;
	cursor:pointer;
	text-decoration:none;
    margin: 0 25px;
	transition: background-color 0.1s ease-out;

	padding: 5px;


}
.selectedButton:hover {
	color:#8F37F7;
}
.selectedButton:active {
	position:relative;
	top:1px;
}

.notSelectedButton {
	padding: 5px;
	
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	text-decoration:none;

	transition: background-color 0.1s ease-out;

    margin: 0 25px;

}
.notSelectedButton:hover {
	color:#8F37F7;
}
.notSelectedButton:active {
	position:relative;
	top:1px;
}
.selectedIcon:hover{
	filter: brightness(0) saturate(100%) 
	invert(20%) sepia(83%) saturate(3742%) 
	hue-rotate(261deg) brightness(104%) contrast(94%);
}

.AuthorButton {

	display:inline-block;
	cursor:pointer;

	padding: 5px;

	display: flex;
    align-items: center;
	transition: border-radius 0.2s ease-out,
	background-color 0.2s ease-out,
	padding 0.1s ease-out,
	margin 0.1s ease-out;
    margin: 0 18px;
	margin-right: 12px;
	margin-left: 30px;

	filter: brightness(0) saturate(100%) 
	invert(0%) sepia(90%) saturate(7459%) 
	hue-rotate(60deg) brightness(88%) contrast(112%);

	filter: brightness(0) saturate(100%) 
	invert(100%) sepia(100%) saturate(0%)
	hue-rotate(250deg) brightness(104%) 
	contrast(101%);
}
.authorzIcon{
	height: 24px;
	width: 24px;
	
	margin-right: 10px;
}

.AuthorButton:hover{

}

.AuthorButton:hover {
	
}




.AuthorButton:active {
	position:relative;
	top:1px;
}


.discordButton {
	background-color:#5865F2;
}
.telegramButton {
	background-color:#2AABEE;
}

.iconButton{
	display: flex;
	align-items: center;

	cursor:pointer;
	margin: 0 15px;
	transition: border-radius 0.2s ease-out,
	background-color 0.2s ease-out;

}
.logo{


	display: flex;
	align-items: center;
}

.central{
	display: flex;
	align-items: center;
}


.dIcon{
    filter: invert(0) sepia(0%) 
    saturate(0%) hue-rotate(0) 
    brightness(1000%) contrast(100%);
}


.avatarWrapper{
	width: 80px;
	height: 80px;
	border: 0;
	margin-left: 1rem;
}
.Avatar{
	border-radius: 50px;
	width: 100%;
	height: auto;
	cursor:pointer;
	transition: border-radius 0.2s ease-out;
	transition: border-width 0.2s ease-out;
	transition: border 0.2s ease-out;

	border-width: 0px;
}

.Avatar:hover{
	border: solid;
	border-width: 3px;
	border-color: #581fba;
	border-radius: 20px;
}


