.navDesktop {
    pointer-events: none;

    top: 0;
    z-index: 10;
    position: fixed;
    width: 100%;
    height: var(--nav-height);
    
    font-size: 16px;
    font-weight: 500;
    transition: background-color 0.2s, backdrop-filter 0.5s;
}

.navDesktopSticky{
    backdrop-filter: blur(30px);
	background-color: rgba(25, 24, 27, 0.5);
}

.navDesktopWrapper {
    pointer-events: all;
    max-width: 1300px;
    padding: 0 30px;
    margin: auto;
    height: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
}

.Image {
    display: flex;

}

.Center{
    display: flex;
    align-items: center;
}

.iconButton {
    display: flex;
    align-content: center;

    cursor: pointer;

    filter: brightness(0) saturate(100%) invert(99%) sepia(1%) saturate(657%) hue-rotate(351deg) brightness(115%) contrast(84%);
    
}
.iconButton:hover{
    filter: brightness(0) saturate(100%) invert(24%) sepia(82%) saturate(3908%) hue-rotate(260deg) brightness(99%) contrast(96%);
}


.HorizontalCenter a:nth-child(1) {
    margin-left: 20px;
    margin-right: 50px;
}

.HorizontalCenter a:nth-child(2) {
    margin-right: 50px;
}

.HorizontalCenter a:nth-child(3) {
    margin-right: 50px;
}

.HorizontalCenter a:nth-child(4) {
    margin-right: 50px;
}

.HorizontalCenter a:nth-child(5) {
    margin-right: 30px;
}

.HorizontalCenter a:nth-child(6) {
    margin-right: 20px;
}


.button{
    font-weight: 500;
    font-size: 16px;

    transition: color 0.1s, background-color 0.2s, backdrop-filter 0.5s;
}
.button:hover{
    color: #8F37F7;
}

.selectedButton{
    color: #8F37F7;
}



.authButton{
    color: #000000;
    filter: brightness(0) saturate(100%) invert(99%) sepia(1%) saturate(657%) hue-rotate(351deg) brightness(115%) contrast(84%);

    gap:10px;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
}

.authButton:hover{
    filter: brightness(0) saturate(100%) invert(24%) sepia(82%) saturate(3908%) hue-rotate(260deg) brightness(99%) contrast(96%);
}



.userbuttonContainer{
    position: relative;
}

.avatarimage{
    border: transparent;
    border-radius: 9px;
    width: 32px;
    height: 32px;
}
.avatarContainer{
    display: flex;
    align-items: center;
    padding: 6px;
    border-radius: 9px;
    user-select: none;
    position: relative;
}

.avatarContainer:hover{
    background-color: #ffffff22;
}

.OpenedPanel{
    min-width: 230px;
    z-index: 11;
    position: absolute;
    top: 50px;
    right: 0px;
    border-radius: 9px;
    padding: 25px;
    border-radius: 9px;
    border: 1px solid #5D5C62;
    background: #232326;
    font-weight: 600;
    
}
.PanelTop{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}
.PanelBottom{
    display: flex;
    align-items: center;
    gap: 5px;
}

.buybutton{
    color: #8F37F7;
    font-size: 12px;
    display: flex;
    align-items: center;
    filter: brightness(0) saturate(100%) invert(40%) sepia(67%) saturate(4851%) hue-rotate(241deg) brightness(96%) contrast(95%);
}
.buybutton:hover{
    cursor: pointer;
    filter: brightness(0) saturate(100%) invert(13%) sepia(68%) saturate(7379%) hue-rotate(269deg) brightness(92%) contrast(130%);
}

.PanelTopRight{
    display: flex;
    flex-direction: column;

}
.logoutimage{
    filter: brightness(0) saturate(100%) invert(98%) sepia(2%) saturate(200%) hue-rotate(197deg) brightness(115%) contrast(84%);
}

.PanelBottom:hover{
    cursor: pointer;
    
    filter: brightness(0) saturate(100%) invert(30%) sepia(53%) saturate(3592%) hue-rotate(244deg) brightness(99%) contrast(89%);
}
.userlink:hover{
    color: #8F37F7;
}
.ipbutton{
    font-size: 12px;
    
}
.ip{
    color:#8F37F7;
}

.MobileQ{
    display: none;
}

.desktopVisible{

}

.mobileVisible{
    display: none;
}


@media screen and (max-width: 800px) {
    .DeskQ{
        display: none;
    }
    .MobileQ{
        display: block;
    }
    .desktopVisible{
        display: none;
    }

    .mobileVisible{
        display: block;
    }
}


@media screen and (max-width: 800px) {
    .OpenedPanel{
        top:0;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center; 
    }
    .PanelBottom{
        display: flex;
        justify-content: center;
    }

    .authButton{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50px;
        background: rgba(65, 63, 69, 0.20);
        border: 1px solid #5D5C62;
        border-radius: 25px;
        color: #EBEBEB;

        filter: none;
    }
    .authButton:hover{
        filter:none;
        background: rgba(98, 53, 187, 0.89);
    
    }
    .svg1{
        filter: brightness(0) saturate(100%) invert(99%) sepia(1%) saturate(657%) hue-rotate(351deg) brightness(115%) contrast(84%);
    }


}